*{
    padding: 0;
    margin: 0;
}

.header{
    display: flex;
     justify-content: space-between;
     
     align-items: center;
     border: 1px solid black;
}

.logo{
    width: 100px;
}
.span{
    font-weight: 700;
    font-size: 35px;
    color: rgba(109, 93, 26, 0.878);
}
.logo-container{
    display: flex;
    align-items: center;

}

.nav-items>ul{
   display: flex;
   justify-content: space-between;
   list-style: none; 
   gap: 30px;
   margin-right: 20px;
}
.nav-items{
    display: flex;
}


.res-card{
    background-color: #f0f0f0;
    width: 200px;
    
    padding: 5px;
    margin: 5px;
     
  
}
.res-container{
      display: flex;
    flex-wrap: wrap;
}
.res-card:hover{
        border: 1px solid black;
        cursor: pointer;
}

.search{
    padding: 10px;

}

.res-logo{
    width: 100%;
    height: 70%;
    
}

.filter-btn{
    margin: 10px ;
    cursor: pointer;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card{
    margin: 20px;
    width: 200px;
    height: 400px;
    background-color: #f0f0f0;
}